
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAFAF8;
  padding: 1em 0;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),0px 1px 2px 0px rgba(0,0,0,0.06);
}

header img{
  width: 3em;
}

header span{
  font-family: Inter,sans-serif;
  font-size: 2.5em;
  font-weight: 450;
  margin: 0 0.1em;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 2.5em;
}

form input{
  width: 30em;
  padding: 0.3em 1em;
  border: 1px sold #D1D5DB;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 30em;
}

form button{
  font-family: Inter,sans-serif;
  width: 10em;
  padding: 0.3em;
  color: #FAFAF8;
  background-color: #141413;
  border-radius: 5px;
}

form button::before{
  content: '+';
  margin-right: 0.3em;
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}

.generator-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4em;
  background-color: #F0EFEB;
  padding: 1em;
  margin-bottom: 2em;
}

.generator-content h3{
  font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}
.generator-content button{
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgb(232, 142, 25);
  color: #FAFAF8;
}


.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid #ccc;
  border-top: 3px solid #333;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.recipeButtonAfter {
  opacity: 0.7;
  cursor: not-allowed;
}